html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  padding: 24px;
}

.mint-form {

  .mint-field,
  .mint-cell {
    border-bottom: 0.02667rem solid #dfe1e2;
  }

  .mint-field:last-child {
    // border-bottom: none;
  }

  .mint-cell:last-child {
    // border-bottom: none;
  }

  .mint-cell {
    >.mint-cell-wrapper {
      padding: 0;
    }

    .mint-cell-allow-right {
      &::after {
        right: 2px;
      }
    }

    .mint-field-other {
      margin-left: 2px;
    }
  }
}